<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h2>Edit</h2>
<form action="/admin/edit" method="POST">
    <label for="firstName">First_Name</label>
    <input type="text" name="firstName" id="firstName" th:value="${editUser.firstName}">
    <label for="lastName">Last name</label>
    <input type="text" name="lastName" id="lastName" th:value="${editUser.lastName}">
    <label for="date">Date</label>
    <input type="text" name="date" id="date" th:value="${editUser.date}">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" th:value="${editUser.name}">
    <label for="password">Password</label>
    <input type="text" name="password" id="password" th:value="${editUser.password}">
<!--    <input type="checkbox" name="roles" th:field="${editUser.roles}">-->
    <input type="submit" value="Edit user">
</form>
</body>
</html>